.container
{
     position :fixed; 
    width:100%;
    height:100%;
    border: 10px lightgray;
    display: flex; 
    
}
.left
{
    width:100%;
     height: 100%; 


    
}
.right
{
    font-family: 'Open Sans', sans-serif;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 50px;
    width:70%;
    height:100%;

}
.button
{
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.button1
{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.para
{
    font-size: 10px;
    padding-left: 20px;
}
.Email
{
  display: flex; 
}
#emailwarning
{
    margin: 0;
    color:lightslategray;
    border: 1px solid lightgrey;
    font-size: 10px;
     display: none; 
}
.hoverEffect:hover #emailwarning{
    display: block;
}
.hoverEffect1:hover #passwarning{
    display: block;
}
.password
{
    display: flex;
}
#passwarning
{
    margin:0;
    color:lightslategray;
    border: 1px solid lightgrey;
    font-size: 10px;
    display: none;
}
#warning
{
    display: none;
    font-size: 10px;
    color: red;
    margin-top: 0;
}
#emailnone
{
    display: none;
    margin-top: 0;
    color: red;
    font-size: 10px;
}
#passwordnone
{
    display: none; 
    margin-top: 0;
    color: red;
    font-size: 10px;
}
#info1
{
    padding-left: 105px;
    font-size: 18px;
    color: lightblue;
}
#info2
{
    padding-left: 80px;
    font-size: 18px;
    color: lightblue;
}
#validemail
{
     display: none;  
    margin-top: 0;
    color: red;
    font-size: 10px;

}
#successbox
{
     display: none; 
    text-align: center;
    height: 146px;
    width: 336px;
    border: 1px solid;
    position: absolute;
    z-index: 1;
   margin-left: 500px;
}
#loginimage
{
    image-orientation: inherit;
}
#closebutton
{
    z-index: 1;
}

/* #passwordinput
{
    margin-top: 20px;
    
} */